h1{
  color: red;
}
h2 , .h1-tag{
  color: orangered;
  font-style: italic;
}
ol , p{
  font-size: 22px;
  color: brown;
 
}
.span-1{
 font-weight: bolder;
  text-decoration: line-through;
}
.span-2{
font-weight: bolder;
background-color: yellow;
}

#li-tag{
  color: brown;
  letter-spacing: 6px;
 font-size: 20px;
}
.list-tag{
  color: brown;
  font-size: 20px;
}
.span-3{
  font-weight: bold;
  background-color: yellow;
}
.anchor-tag{
  font-style: italic;
  font-weight: bold;
  color: orangered;
  background-color: yellow;
  text-decoration: none;
}
